@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://webfonts.ru/import/intro.css);
html, body {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  font-family: Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica Neue, sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0 0 7px 0;
  font-family: "Lato", Helvetica Neue, sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 7px; }
  h1:after {
    content: "\a—";
    white-space: pre;
    font-weight: 100; }

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 4px; }

p {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px; }

.start-screen {
  width: 100%;
  height: 100%; }
  .start-screen .start-screen__menu {
    font-family: "Lato", Helvetica Neue, sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .start-screen .start-screen__menu .start-screen__menu__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .start-screen .start-screen__menu .start-screen__menu__group--left {
      width: 33.333%; }
      @media screen and (max-width: 800px) {
        .start-screen .start-screen__menu .start-screen__menu__group--left {
          display: none; } }
    .start-screen .start-screen__menu .start-screen__menu__group--center {
      width: 16.6665%; }
      @media screen and (max-width: 800px) {
        .start-screen .start-screen__menu .start-screen__menu__group--center {
          display: none; } }
    .start-screen .start-screen__menu .start-screen__menu__group--right {
      width: 16.6665%;
      justify-content: flex-end; }
      .start-screen .start-screen__menu .start-screen__menu__group--right a {
        text-decoration: none;
        color: white; }
    .start-screen .start-screen__menu .start-screen__menu__item {
      padding: 25px;
      cursor: pointer;
      text-align: center; }
      .start-screen .start-screen__menu .start-screen__menu__item:hover {
        background-color: burlywood; }
    .start-screen .start-screen__menu .start-screen__menu__item--stroked {
      padding: 20px;
      border: 5px solid #ffed2c; }
  .start-screen .start-screen__social-buttons {
    position: absolute;
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    top: 50%;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: stretch; }
    @media screen and (max-width: 800px) {
      .start-screen .start-screen__social-buttons {
        display: none; } }
    .start-screen .start-screen__social-buttons .start-screen__social-button__item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 66px;
      height: 66px;
      border-left: 5px solid white;
      border-right: 5px solid white;
      border-bottom: 5px solid white;
      text-align: center; }
      .start-screen .start-screen__social-buttons .start-screen__social-button__item:hover {
        background-color: burlywood; }
      .start-screen .start-screen__social-buttons .start-screen__social-button__item:first-child {
        border: 5px solid white; }
  .start-screen .start-screen__title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 800px; }
    .start-screen .start-screen__title .start-screen__title__logo img {
      width: 25%;
      margin-bottom: 5px; }
    .start-screen .start-screen__title .start-screen__title__brand-name {
      font-family: "Intro", Helvetica Neue, sans-serif;
      text-transform: uppercase;
      font-size: 6rem;
      max-width: 800px; }
    .start-screen .start-screen__title .start-screen__title__description {
      font-family: "Lato", Helvetica Neue, sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 10px;
      line-height: 2rem; }
    .start-screen .start-screen__title .start-screen__title__sweeties {
      margin-top: 60px;
      font-family: "Lato", Helvetica Neue, sans-serif;
      font-weight: 300;
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: flex;
      justify-content: center; }
      .start-screen .start-screen__title .start-screen__title__sweeties .start-screen__title__sweeties--left, .start-screen .start-screen__title .start-screen__title__sweeties .start-screen__title__sweeties--right {
        padding-left: 20px;
        padding-right: 20px; }
  .start-screen .start-screen__bouncing-arrow {
    font-size: 2em;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%); }
    @media screen and (max-width: 800px) {
      .start-screen .start-screen__bouncing-arrow {
        display: none; } }

.quality {
  background-color: #ffcaca;
  display: flex;
  justify-content: center; }
  .quality .quality__text {
    max-width: 800px; }
    .quality .quality__text p {
      padding-left: 20px;
      padding-right: 20px;
      line-height: 150%; }

.gallery {
  background-color: darksalmon; }
  .gallery .gallery__content__first-line {
    width: 100vw;
    height: 60vh;
    background-color: black; }
  .gallery .gallery__content__second-line {
    width: 100vw;
    height: 30vh;
    background-color: #fff; }

.contact-us {
  background-color: #8A6343;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .contact-us .contact-us__title {
    width: 100%;
    max-width: 800px; }
  .contact-us .contact-us__map {
    width: 100%;
    height: 50vh; }
    .contact-us .contact-us__map #map {
      width: 100%;
      height: 100%; }
  .contact-us .contact-us__text {
    width: 100%;
    max-width: 800px;
    padding-top: 25px;
    padding-bottom: 25px; }
    .contact-us .contact-us__text h2 {
      padding-top: 25px; }
      .contact-us .contact-us__text h2:nth-of-type(1) {
        padding-top: 0; }
    .contact-us .contact-us__text p {
      padding-left: 20px;
      padding-right: 20px; }

.footer {
  font-family: "Lato", Helvetica Neue, sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
